$fontStack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Calibri', 'Trebuchet MS', sans-serif;
$primaryColor: rgb(55, 30, 161);
$lightPrimary: lighten($primaryColor, $amount: 10%);
// $lightPurple: rgb(70, 46, 176);

$secondaryColor: rgb(47, 142, 225);
// $secondaryColor: rgb(0, 140, 255);


$borderColor: rgb(201, 214, 226);
$backgroundColor: white;
$cardColor: whitesmoke;
$textColor: #222;